Andrei|Stoian|stoianandrei@yahoo.com|32|home_+40_728570162|Stefan cel Mare_128_57_8_12700_Constanta_Romania|junior programmer|Jademy_Ion Mihalache_17_0_1_23401_Buhcarest_Romania|false
Ion|Iliescu|iliescu@yahoo.com|82|home_+40_823645690|Primaverii_55_11_3_23230_Bucharest_Romania|ex-president|Whatever SRL_Magheru_171_40_5_21200_Buhcarest_Romania|false
Traian|Basescu|tbs@yahoo.com|70|home_+40_60440060|Calea Victoriei_48_20_3_40030_Bucharest_Romania|ex-president|Another Company SRL_Bd. Unirii_141_12_3_217250_Buhcarest_Romania|true
Ilie|Ionescu|ionescu@yahoo.com|66|home_+40_6344566|Mihai Eminescu_12_33_2_64221_Bucharest_Romania|plumber|Another Company SRL_Mosilor_100_30_3_23000_Bucharest_Romania|false