Andrei|Stoian|stoianandrei@yahoo.com|32|mobile1_+40_728570162,mobile2_+40_730832361|Stefan cel Mare_128_57_8_86700_Constanta_Romania|programmer|Jademy.RO_Ion Mihalache_15_0_1_2320_Bucharest_Romania|true
Ion|Creanga|ioncreanga@gmail.com|83|home_+40_780111323,mobile_+40_6544002361|Magheru_130_43_6_2780_Bucharest_Romania|writer|SomeSchool.SRL_Eliberarii_14_32_3_2960_Bucharest_Romania|false
Quentin|Tarantino|qta@21stcentury.com|50|home_+1_8123123999999|Some Street_1920_12_1_880000_Los Angeles_USA|director|21stCentury_Sunset Boulevard_36_28_5_10000_Los Angeles_USA|false