Elena|Ceausescu|default@yahoo.com|66|home_+40_111111111|SomeDefault Street_111_1_1_411111_Bucharest_Romania|unemployed|SomeDefaultCompany SRL_Bd. Unirii_120_66_6_687000_Buhcarest_Romania|true
Barack|Obama|default@yahoo.com|66|home_+40_111111111|SomeDefault Street_111_1_1_411111_Bucharest_Romania|unemployed|SomeDefaultCompany SRL_Bd. Unirii_120_66_6_687000_Buhcarest_Romania|true
Cristian Tudor|Popescu|default@yahoo.com|66|home_+40_111111111|SomeDefault Street_111_1_1_411111_Bucharest_Romania|journalist|SomeDefaultCompany SRL_Bd. Unirii_120_66_6_687000_Buhcarest_Romania|true
Alex|Stefanescu|default@yahoo.com|66|home_+40_111111111|SomeDefault Street_111_1_1_411111_Bucharest_Romania|unemployed|SomeDefaultCompany SRL_Bd. Unirii_120_66_6_687000_Buhcarest_Romania|true
Andrei|Stoian|stoianandrei@yahoo.com|32|home_+40_728570162|Stefan cel Mare_128_57_8_12700_Constanta_Romania|junior programmer|Jademy_Ion Mihalache_17_0_1_23401_Buhcarest_Romania|false
Donald|Trump|dtrump@gmail.com|74|Oval Office_+1_77665544|some street in washington_777_1_6_0001_Washington DC_USA|US President|US Govt_Some Stret_66_66_4_234234_2_USA|true
Vadim|Tudor|default@yahoo.com|66|home_+40_111111111|SomeDefault Street_111_1_1_411111_Bucharest_Romania|unemployed|SomeDefaultCompany SRL_Bd. Unirii_120_66_6_687000_Buhcarest_Romania|true
Mark|Twain|default@yahoo.com|66|home_+40_111111111|SomeDefault Street_111_1_1_411111_Bucharest_Romania|unemployed|SomeDefaultCompany SRL_Bd. Unirii_120_66_6_687000_Buhcarest_Romania|true
Arsene|Wenger|default@yahoo.com|66|home_+40_111111111|SomeDefault Street_111_1_1_411111_Bucharest_Romania|unemployed|SomeDefaultCompany SRL_Bd. Unirii_120_66_6_687000_Buhcarest_Romania|true
Mark|Zuckerberg|default@yahoo.com|66|home_+40_111111111|SomeDefault Street_111_1_1_411111_Bucharest_Romania|unemployed|SomeDefaultCompany SRL_Bd. Unirii_120_66_6_687000_Buhcarest_Romania|true
Bill|Gates|default@yahoo.com|64|home_+40_111111111|Bill Gates's Street_291_1_1_411111_New York_USA|unemployed|Microsoft SRL_Dontknow Street_120_66_6_687000_New York_USA|true
Ion|Ionescu|ionescu@yahoo.com|66|home_+40_6344566|Mihai Eminescu_12_33_2_64221_Bucharest_Romania|plumber|Another Company SRL_Mosilor_100_30_3_23000_Bucharest_Romania|false
John|Kennedy|kennedy@gmail.com|69|default_+40_600000|Default Street_1_1_1_100000_Bucharest_Romania|anotherpresident|Default Company_Default Street_1_1_1_100000_Bucharest_Romania|true
William|Shakespeare|default@yahoo.com|66|home_+40_111111111|SomeDefault Street_111_1_1_411111_Bucharest_Romania|unemployed|SomeDefaultCompany SRL_Bd. Unirii_120_66_6_687000_Buhcarest_Romania|true
Larry|Page|default@yahoo.com|66|home_+40_111111111|SomeDefault Street_111_1_1_411111_Bucharest_Romania|unemployed|SomeDefaultCompany SRL_Bd. Unirii_120_66_6_687000_Buhcarest_Romania|true
Steve|Jobs|default@yahoo.com|66|home_+40_111111111|SomeDefault Street_111_1_1_411111_Bucharest_Romania|inventor|SomeDefaultCompany SRL_Bd. Unirii_120_66_6_687000_Buhcarest_Romania|true
Alex|Ferguson|default@yahoo.com|75|work_+68_732046|SomeDefault Street_111_1_1_411111_Bucharest_Romania|unemployed|SomeDefaultCompany SRL_Bd. Unirii_120_66_6_687000_Buhcarest_Romania|true
Leonardo|DaVinci|leonardo@yahoo.com|66|home_+40_111111111|SomeDefault Street_111_1_1_411111_Bucharest_Romania|unemployed|SomeDefaultCompany SRL_Bd. Unirii_120_66_6_687000_Buhcarest_Romania|true
George|Clooney|georgeclooney@gmail.com|66|home_+1_700230118|Default Street_1_1_1_100000_Bucharest_Romania|defaultJobTitle|Default Company_Default Street_1_1_1_100000_Bucharest_Romania|true
Mark|Wahlberg|email@gmail.com|46|home_+1_768529000|Default Street_1_1_1_100000_Bucharest_Romania|defaultJobTitle|Default Company_Default Street_1_1_1_100000_Bucharest_Romania|false
Anghel|Iordanescu|default@yahoo.com|66|home_+40_111111111|SomeDefault Street_111_1_1_411111_Bucharest_Romania|unemployed|SomeDefaultCompany SRL_Bd. Unirii_120_66_6_687000_Buhcarest_Romania|false
Traian|Basescu|tbs@yahoo.com|70|office_+40_87992244,2ndOffice_+40_6840333,home_+40_60440060|Calea Victoriei_48_20_3_40030_Bucharest_Romania|ex-president|Presidency SRL_Bd. Unirii_141_12_3_217250_Buhcarest_Romania|true
Victor|Piturca|default@yahoo.com|66|workplace_+40_7899002|SomeDefault Street_111_1_1_411111_Bucharest_Romania|unemployed|SomeDefaultCompany SRL_Bd. Unirii_120_66_6_687000_Buhcarest_Romania|false
Emmanuel|Macron|default@yahoo.com|51|home_+40_111111111|SomeDefault Street_111_1_1_411111_Bucharest_Romania|unemployed|SomeDefaultCompany SRL_Bd. Unirii_120_66_6_687000_Buhcarest_Romania|false
Leo|DiCaprio|default@yahoo.com|43|home_+40_111111111|SomeDefault Street_111_1_1_411111_Bucharest_Romania|actor|SomeDefaultCompany SRL_Bd. Unirii_120_66_6_687000_Buhcarest_Romania|true
Nicolae|Ceausescu|default@yahoo.com|66|home_+40_111111111|SomeDefault Street_111_1_1_411111_Bucharest_Romania|unemployed|Romania SRL_Bd. Unirii_120_66_3_687000_Buhcarest_Romania|true
Joe|Biden|default@yahoo.com|66|home_+40_111111111|SomeDefault Street_111_1_1_411111_Bucharest_Romania|unemployed|SomeDefaultCompany SRL_Bd. Unirii_120_66_6_687000_Buhcarest_Romania|true
Karim|Benzema|default@yahoo.com|66|work_+55_730257,home_+40_111111111|SomeDefault Street_111_1_1_411111_Bucharest_Romania|unemployed|SomeDefaultCompany SRL_Bd. Unirii_120_66_6_687000_Buhcarest_Romania|true
Napoleon|Bonaparte|napoleon2018@yahoo.com|63|versailles_+5_5552340|SomeDefault Street_111_1_1_411111_Bucharest_Romania|ex-emperor|SomeDefaultCompany SRL_Bd. Unirii_120_66_6_687000_Buhcarest_Romania|true
Hillary|Clinton|default@yahoo.com|65|home_+40_111111111|SomeDefault Street_111_1_1_411111_Bucharest_Romania|unemployed|SomeDefaultCompany SRL_Bd. Unirii_120_66_6_687000_Buhcarest_Romania|true
Florinel|Coman|fcoman@gmail.com|21|home_+40_730160257|Drumul Taberei_66_27_5_662857_Bucharest_Romania|footballer|FCSB_Some Street_6_3_5_5566_Bucharest_Romania|true
Gheorghe|Dinca|gdinca@gmail.com|55|work_+40_66778899,home_+40_566789|_2_23_4_232332_asdasd_Romania|killer|ThisCompany_Company Street_6_34_5_667777_Caracal_Romania|false
Ion|Iliescu|iliescu@yahoo.com|82|home_+40_823645690|Primaverii_55_11_3_23230_Bucharest_Romania|ex-president|PSD SRL_Magheru_171_22_18_21200_Oltenita_Romania|false